<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 新闻管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="<{:url('Article/index')}>" data-title="新闻管理" href="javascript:void(0)">新闻管理</a></li>
					<li><a data-href="<{:url('Article/news')}>" data-title="要闻推荐管理" href="javascript:void(0)">要闻推荐管理</a></li>
					<li><a data-href="<{:url('Article/topic')}>" data-title="专题推荐管理" href="javascript:void(0)">专题推荐管理</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-category">
			<dt><i class="Hui-iconfont">&#xe645;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="<{:url('Article/classify')}>" data-title="新闻分类" href="javascript:void(0)">新闻分类</a></li>
					<li><a data-href="<{:url('Category/order')}>" data-title="主分类顺序" href="javascript:void(0)">主分类顺序</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="<{:url('Advertisement/index')}>" data-title="广告管理" href="javascript:void(0)">广告管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/Comment/index" data-title="评论管理" href="javascript:void(0)">评论管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-links">
			<dt><i class="Hui-iconfont">&#xe6aa;</i> 链接管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/admin/link/index" data-title="链接管理" href="javascript:void(0)">链接管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="<{:url('Admin/index')}>" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe62c;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="<{:url('User/index')}>" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>